@using CRM.Shared.Model;

@if (SelectedItem == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
@*         <table class="table">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Tlf. nr</th>
                    <th>Vej</th>
                    <th>Postnummer</th>
                    <th>By</th>
                    <th>Servicetimer</th>
                    <th>Ansatte</th>
                    <th>CVR</th>
                    <th>EAN</th>
                    <th>Sidst modificeret</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@SelectedItem.Name</td>
                    <td>@SelectedItem.PhoneNumber</td>
                    <td>@SelectedItem.StreetName</td>
                    <td>@SelectedItem.ZipCode</td>
                    <td>@SelectedItem.CityName</td>
                    <td>@SelectedItem.ServiceHours</td>
                    <td>@SelectedItem.EmployeeCount</td>
                    <td>@SelectedItem.CVR</td>
                    <td>@SelectedItem.EAN</td>
                    <td>@SelectedItem.DateModified</td>
                </tr>

            </tbody>
        </table> *@
        <div>
            <p style="align-self: center"> <b>Telefonnummer:</b> @SelectedItem.PhoneNumber</p>
        </div>
        <table class="table">
            <caption style="caption-side:top; align-content:center ;color:black;"><b>Kontaktpersoner</b></caption>
@*             <thead>
                <tr>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Tlf. nr</th>
                </tr>
            </thead> *@
            <tbody>
                @foreach (var contact in Contacts)
                {
                    <tr>
                        <td>@contact.Name</td>
                        <td>@contact.Email</td>
                        <td>@contact.PhoneNumber</td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p> <b>Tilgængelige servicetimer:</b> @SelectedItem.ServiceHours</p>
                    <p> <b>Størrelse på kunden:</b> @SelectedItem.EmployeeCount</p>
                    <p> <b>Adresse:</b> @SelectedItem.StreetName, @SelectedItem.ZipCode @SelectedItem.CityName</p>
                    <p> <b>CVR:</b> @SelectedItem.CVR</p>
                    <p> <b>EAN:</b> @SelectedItem.EAN</p>
                </div>
                <div class="col-sm" style="">
                    <button class="btn" style="border-color:black; height: 75px; width: 200px;">Task logbog</button>
                    <textarea style="margin-top: 10px; " placeholder="Kommentarboks"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-dark" type="button" >Rediger</button>
        <button class="btn btn-primary" type="button" @onclick="Close">Okay</button>
    </div>
}


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [CascadingParameter] List<Customer> c { get; set; } 
    [Parameter]
    public Customer? SelectedItem { get; set; }
    [Parameter]
    public List<Contact>? Contacts { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync();
}
